<ion-header>
  <ion-toolbar>
    <ion-title> babel-cdm/ion-arch </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  {{environmentName}}

  <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <ion-title>
    <ng-container *ngIf="models$ | async as models; else loading">
      <ion-list>
        <ion-item *ngFor="let model of models">
          <ion-label>{{model.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </ion-title>

  <ng-template #loading>
    <h1>loading ...</h1>
  </ng-template>

</ion-content>
